
body {
    background: linear-gradient(45deg, #3921b3, #58a1d9);
    background-size: 400% 400%;
    font-family: 'Inter', sans-serif;
    margin-top: 200px;
    animation: gradientAnimation 10s ease infinite;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

form {
  background-color: black;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin-left: 32%;
  margin-right: 32%;
}

h2 {
  color: white;
  margin-top: -10px;
  margin-bottom: -2px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
}

p.appDescription {
  color: white;
  font-size: 1.0rem;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
}

p.compete {
  color: white;
  font-size: 1.0rem;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
}

p.signinPrompt {
  color: white;
  font-size: 1.0rem;
  font-weight: regular;
  margin-bottom: 25px;
  display: flex;
}

input {
  display: flex;
  width: 70%;
  height: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 0.01rem solid white;
  font-size: 1.0rem;
  font-weight: regular;
  color: white;
  opacity: 80%;
}

div.LoginRegisterButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  width: 80%;
}

button {
  align-items: center;
  border: none;
  border-radius: 5px;
  box-shadow: 10px;
  width: 120px;
  height: 40px;
  background-color: #2f0cdb;
  color: white;
  font-size: 1.0rem;
  font-weight: semi-bold;
  cursor: pointer;
}

button.LoginButton {
  margin-right: 50px;
  border: 1.5px solid white;
}

button.RegisterButton {
  margin-left: 50px;
  border: 1.5px solid white;
  outline: 0;
  background: transparent;
}